body{
margin: 0;
padding: 0;

}
.main{
    background-image: url(road.jpg);
   width: 500%;
   height: 600px;
   background-repeat: repeat-x;
   z-index: 1;
   background-size: 20% 100%;
   animation: main 15s linear infinite;
}
@keyframes main{
    100%{
        transform: translateX(-3400px);
    }
}
.car{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.car img{
    width: 100%;
}
.wheel{
    left: 50%;
    bottom: 178px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}
.wheel img{
   width: 70px; 
   height: 70px;
   animation: wheel .5s linear infinite;
}
@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}
.back{
    left: -128px;
    top: -40px;
    position: absolute;
}
.front{
    left: 63px;
    top: -37px;
    position: absolute;

}


































































































































